/* STYLING FOR CALENDAR ON INDEX PAGE */ 
    /* Calendar container styles */
    .calendar-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Calendar table styles */
    .calendar {
        width: 100%;
        border-collapse: separate; /* Use separate border model */
        border-spacing: 5px; /* Adjust the spacing as needed */
        font-family: Salesforce Sans;
    }

    /* Calendar header styles */
    .calendar-header {
        background-color: #f2f2f2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .calendar-navigation {
        display: flex;
        align-items: center;
    }
    
    /* Calendar "previous month" button div styling */
    .calendar-navigation-left {
        text-align: left;
    }

    /* Calendar "next month" button div styling */
    .calendar-navigation-right {
        text-align: right;
    }
    
    /* Calendar Month and Year header styling */
    .calendar-navigation-center {
        flex: 1;
        text-align: center;
    }
    
    /* Calendar Next and Previous month button styling to make look like a hyperlink */
    .calendar-navigation-button {
        font-size: 14px;
        background: none;
        border: none;
        padding: 0;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    /* Calendar Table header row styles */
    .calendar th {
        background-color: #f2f2f2;
        color: #333;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        border-bottom: 2px solid #ccc;
    }

    /* Calendar table cell styles */
    .calendar td {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    /* position: relative; property is applied to the day box to make it a positioning context for the emoji element */
    .day-content {
        position: relative;
    }
    
    /* styling for positioning workout emojis */
    .workout-emoji-container {
        position: absolute;
        top: 10px;
        right: 5px;
    }

    /* styling for eating out emoji */
    .eat-out-emoji-container {
        position: absolute;
        top: 10px;
        left: 5px;
    }

    /* styling for drink emoji */
    .drink-emoji-container {
        position: absolute;
        bottom: 10px;
        left: 5px;
    }  
      
    /* Styles for a day with 30 minutes of activity completed */
    .activity-completed {
        background-color: #aee4ff;
    }
    
    /* Styles for a day with a workout completed */
    .workout-completed {
        background-color: #ffd9a8;
    }

    /* Styles for a day when both travelling and sick */
    .calendar td.travelling-sick {
        border: 3px solid #CC99FF;
        border-bottom: 3px solid #CC99FF;
    }

    /* Styles for a day when sick */
    .calendar td.sick {
        border: 3px solid #6699FF;
        border-bottom: 3px solid #6699FF;
    }

    /* Styles for a day when travelling or on a trip */
    .calendar td.travelling {
        border: 3px solid #FF9999;
        border-bottom: 3px solid #FF9999;
    }

    /* Incomplete activity cell styles */
    .incomplete {
        background-color: #f44336;
        color: #fff;
    }

    /* Activity Stats row cell styles */
    .activity-stats-row {
        display: flex;
        justify-content: space-around;
        font-family: Salesforce Sans;
    }
    
    .activity-stats-row div {
        text-align: center;
        margin: 10px;
    }

    /* Legend container styles */
    .legend-title {
        display: flex;
        flex-wrap: wrap;
    }

    /* Legend container styles */
    .legend-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .legend-workout-emojis {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .legend-sport-emojis {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .legend-extreme-sport-emojis {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    /* Legend item styles */
    .legend-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    /* Legend color styles */
    .legend-color {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    /* Legend label styles */
    .legend-label {
        font-size: 14px;
    }

    /* Additional CSS for specific border colors */
    .legend-color.travelling-sick {
        border: 2px solid #CC99FF;
        border-bottom: 2px solid #CC99FF;
    }

    .legend-color.sick {
        border: 2px solid #6699FF;
        border-bottom: 2px solid #6699FF;
    }

    .legend-color.travelling {
        border: 2px solid #FF9999;
        border-bottom: 2px solid #FF9999;
    }

    /* Styling for the header */
    .activity-stats-header {
        font-family: Salesforce Sans;
    }

    /* STYLING FOR SLEEP CHARTS */ 
    .sleep-charts-header {
        font-family: Salesforce Sans;
    }
    
    .chart-grid {
        font-family: Salesforce Sans;
        overflow: hidden; /* Apply clearfix to properly contain floated elements so Sleep metrics appear below charts */
    }
    
    .chart-container-left {
        width: 50%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
        height: 0;
        padding-bottom: 30%; /* Used to fix formatting of "Falling Asleep" title overlap */
        position: relative;
    }

    .chart-container-right {
        width: 50%;
        float: right;
        padding: 10px;
        box-sizing: border-box;
        height: 0;
        padding-bottom: 30%; 
        position: relative;
    }
    
    canvas {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }   
     
    /* Sleep Stats row cell styles */
    .sleep-stats-row {
        display: flex;
        justify-content: space-around;
        font-family: Salesforce Sans;
    }
    
    .sleep-stats-row div {
        text-align: center;
        margin: 10px;
    }


/* STYLING FOR BRANDING IN HTML TEMPLATE */ 
/* Size for brand */
nav .navbar-brand{
    font-size: xx-large;
    font-family: Salesforce Sans;
}

/* Colors for brand */
nav .navbar-brand .blue{
    color: #ea433b;
}
nav .navbar-brand .red{
    color: #ea433b;
}

.nav-item {
    font-family: Salesforce Sans;
}

/* STYLING FOR HISTORY PAGE */ 
/* Controls styling of entire history page, make sure page ends at end of table */
.history-page-container{
    font-family: Salesforce Sans;
    max-width: 100%;
    overflow-x: auto;
}

/* Font size of toggle between tables */
.nav-link.history{
    font-size: 25px;
}

th {
    white-space: nowrap; /* Prevent line breaks */
}

/* Formatting for specific columns within the history logging table, span rows narrows the row with line breaks */
th span {
    display: inline-block; /* Display as inline block */
    white-space: normal; /* Allow line breaks within the span */
}

/* Styling for "Show" "Hide" details hyperlinks */
th span a {
    font-size: 12px;
}

/* Styling to ensure workout types show on new lines and wellness types show on new lines */
td.hidden-history-column, td.hidden-wellness-type-column {
    white-space: pre-line;
}

/* Styling to hide workout type columns, hide wellness types column */
.hidden-history-column, .hidden-wellness-type-column {
    display: none;
}

/* Styling for "previous" and "next" pagination buttons */
#pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px; /* Adjust the gap between page numbers and buttons */
  }

  /* Styling for dynamically created pagination button numbers */
#page-numbers {
    display: flex;
    gap: 10px; /* Adjust the gap between page numbers */
}

/* Styling for "previous" and "next" pagination buttons */
#pagination-buttons-sleep {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px; /* Adjust the gap between page numbers and buttons */
}

  /* Styling for dynamically created pagination button numbers */
#page-numbers-sleep {
    display: flex;
    gap: 10px; /* Adjust the gap between page numbers */
}

/* Styling for entire Index homepage */
.index-page-container {
    font-family: Salesforce Sans;
}

/* Styling for text box descriptions on Activity Logging and Sleep Logging pages */
.text-box-description {
    width: 40%;
    margin-left: 20px; /* add some space between the form and text box */
}

/* Mobile view formatting and styling */
@media only screen and (max-width: 767px) {
    .legend-item {
        margin-bottom: 10px;
    }

    .toggle-hyperlink{
        font-size: 20px;
    }

    /* Font size of toggle between tables */
    .nav-link.history{
        font-size: 14px;
    }

    /* styling for positioning workout emojis */
    .workout-emoji-container {
        font-size: 15px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    /* Activity Stats row cell styles */
    .activity-stats-row {
        flex-direction: column;
    }

    .chart-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .chart-container-left {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: 0;
        padding-bottom: 65%; /* provide spacing between graps to prevent overlap */
    }

    .chart-container-right {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: 0;
        padding-bottom: 70%; 
    }

    /* Sleep Stats row cell styles */
    .sleep-stats-row {
        flex-direction: column;
    }
}
