{% extends "layout.html" %}

{% block title %}
    Activity Tracking
{% endblock %}

{% block main %}
    <!-- JavaScript code files, Jquery, chart.js -->
    <script type="module" src="/static/helpers.js"></script>
    <script type="module" src="/static/activity-logging.js"></script>

    <div class="logging-page-container">
    <!-- ACTIVITY ENTRY FORM -->
    <h3 id="instructions-header-mobile">Activity Logging</h3>
    <!-- Activity entry date input -->
    <form action="/activity" method="post" name="activityForm" class="logging-form" id="activity-form">
        <div class="mb-3">
            <label for="date">Activity date:</label>
            <input type="date" id="activity-date" name="activity-date" value="2022-01-01" min="1990-01-01" max="2055-12-31" required>
        </div>
        <!-- Table to format Y/N questions -->
        <div class="container table-container">
            <table class="table table-borderless">
                <tr>
                  <th class="question-header"></th>
                  <th>Yes</th>
                  <th>No</th>
                </tr>
                <!-- 30 minutes of activity Y/N -->
                <tr data-row-number="1">
                    <td><label for="30min">Did you complete 30 minutes of daily movement?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="thirtyMin-yes" name="thirtyMin-yes" value="1" data-associated-checkbox="thirtyMin-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="thirtyMin-no" name="thirtyMin-no" value="0"></td>
                </tr>
                <!-- Workout completed Y/N -->
                <tr data-row-number="2">
                    <td><label for="workout">Did you complete a workout?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="workout-yes" name="workout-yes" value="1" data-associated-checkbox="workout-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="workout-no" name="workout-no" value="0"><br></td>
                </tr>
            </table>
        </div>

        <!-- Container to dynamically add additional workout fields -->
        <div class="mb-3" id="workoutsContainer"></div>

        <!-- Hidden container to store inputs from additional Workout types for submission -->
        <input type="hidden" name="selectedWorkoutValues" id="selectedWorkoutValuesInput">

        <!-- Add additional workouts button -->
        <div class="mb-3" id="hidden-additional-workout" style="display: none">
            <button class="btn btn-primary" id="add-workout-btn" type="button">Add Another Workout</button>
        </div>

        <!-- Wellness activity Y/N -->
        <div class="container table-container">
            <!-- Table to align with Y/N above -->
            <table class="table table-borderless" >
                <tr data-row-number="3">
                    <td class="question-header"><label for="wellness">Did you participate in a wellness activity?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="wellness-yes" name="wellness-yes" value="1" data-associated-checkbox="wellness-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="wellness-no" name="wellness-no" value="0"><br></td>
                </tr>
            </table>
        </div>

        <!-- Container to dynamically add additional wellness type fields -->
        <div class="mb-3" id="wellnessContainer"></div>

        <!-- Hidden container to store inputs from additional Wellness types for submission -->
        <input type="hidden" name="selectedWellnessValues" id="selectedWellnessValuesInput">

        <!-- Add additional wellness type button -->
        <div class="mb-3" id="hidden-additional-wellness" style="display: none">
            <button class="btn btn-primary" id="add-wellness-btn" type="button">Add Another Wellness Type</button>
        </div>

        <!-- Eating out Y/N -->
        <div class="container table-container">
            <table class="table table-borderless" >
                <tr data-row-number="4">
                    <td class="question-header"><label for="eat-out">Did you eat any meals out on this day?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="eatOut-yes" name="eatOut-yes" value="1" data-associated-checkbox="eatOut-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="eatOut-no" name="eatOut-no" value="0"></td>
                </tr>
            </table>
        </div>
        <!-- Eating Out input -->
        <div class="mb-3" id="hidden_meals_out" style="display: none">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" id="mealsOut" name="mealsOut" placeholder="Number of meals out" type="number">
        </div>
        <!-- Drinking Y/N -->
        <div class="container table-container">
            <table class="table table-borderless" >
                <tr data-row-number="5">
                    <td class="question-header"><label for="drink">Did you drink any alcohol on this day?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="drink-yes" name="drink-yes" value="1" data-associated-checkbox="drink-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="drink-no" name="drink-no" value="0"><br></td>
                </tr>
            </table>
        </div>
        <!-- Drinking input -->
        <div class="mb-3" id="hidden_drinks" style="display: none">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" id="numberDrinks" name="numberDrinks" placeholder="Number of drinks" type="number">
        </div>
         <!-- Travelling Y/N -->
         <div class="container table-container">
            <table class="table table-borderless" >
                <tr data-row-number="6">
                    <td class="question-header"><label for="drink">Were you travelling or on a trip this day?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="travel-yes" name="travel-yes" value="1" data-associated-checkbox="travel-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="travel-no" name="travel-no" value="0"><br></td>
                </tr>
            </table>
        </div>

        <!-- Sick Y/N -->
        <div class="container table-container">
            <table class="table table-borderless" >
                <tr data-row-number="7">
                    <td class="question-header"><label for="drink">Were you sick on this day?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="sick-yes" name="sick-yes" value="1" data-associated-checkbox="sick-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="sick-no" name="sick-no" value="0"><br></td>
                </tr>
            </table>
        </div>

        <!-- Submit Button -->
        <div>
            <button class="btn btn-primary" type="submit" name="btnSubmit" id="btnSubmit">Submit</button>
        </div>
    </form>
    <!-- description text box -->
    <div class="text-box-description">
        <h3 id="instructions-header-desktop">Activity Logging</h3>
            <div class="instructions-paragraph">
                <p><b>What is Activity Logging?</b></p>
                <p>Activity logging is designed to gather information about your daily activity pattern.</p>
                <p><b>How often should I log activities?</b></p>
                <p>It is necessary for you to log your activities every day.</p>
                <p><b>What should I do if I miss a day?</b></p>
                <p>If you remember your activities for that day, you can still create a new entry;
                just tap the date at the top to change it. Otherwise leave that day blank.</p>
                <p><b>What does "30 minutes of activity and "workout" mean?</b></p>
                <p>"30 minutes of activity" is a rough estimate if you completed 30 minutes of activities 
                    such as walking, biking, workouts, or any movement that doesn't constitute sedentary sitting</p>
                <p>A workout typically involves some type of more rigorous physical activity. 
                    Make sure to fill in the workout type and time of the workout in minutes</p>
                <p><b>What does "meal eaten out" mean?</b></p>
                <p>A meals out is if you purchased any type of food as a meal that you didn't prepare or cook yourself</p>
                <p><b>What does "alcoholic drink" mean?</b></p>
                <p>Acoholic drinks should be relatively straight forward, if you had a small amount you don't need to count</p>
            </div>
    </div>

    </div>
{% endblock %}