{% extends "layout.html" %}

{% block title %}
    Sleep Tracking
{% endblock %}

{% block main %}
    <!-- JavaScript code files, Jquery, chart.js -->
    <script type="module" src="/static/yes-no.js"></script>
    <script type="module" src="/static/sleep-logging.js"></script>

    <!-- Container for page -->
    <div class="logging-page-container">

    <!-- SLEEP ENTRY FORM -->
    <!-- Sleep entry date input -->
    <form action="/sleep" method="post" name="sleepForm" class="logging-form" id="sleep-form">
        <h3 id="instructions-header-mobile">Sleep Logging</h3>
        <div class="mb-3">
            <label for="date">Sleep date:</label>
            <input type="date" id="sleep-date" name="sleep-date" value="2022-01-01" min="1990-01-01" max="2055-12-31" required>
        </div>
        <!-- Table to format questions -->
        <div class="container table-container table-responsive">
            <table class="table table-borderless" id="questions-table">
                <tr>
                    <th></th>
                    <th class="yes-no-header">Yes</th>
                    <th class="yes-no-header">No</th>
                  </tr>
                <!-- Nap or doze -->
                <tr data-row-number="1">
                    <td class="sleep-question-cell" align="left"><label for="30min">Did you nap or doze on this date?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="nap-yes" name="nap-yes" 
                        value="1" data-associated-checkbox="nap-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="nap-no" name="nap-no" value="0"></td>
                </tr>
                <!-- Hidden nap time table row -->
                <tr id="napTimeHiddenRow" style="display: none;">
                    <td class="sleep-question-cell" align="left"><label for="napQuestion">How long did you nap for?</label></td>
                    <td class="sleep-input-cell"><input autocomplete="off" class="form-control mx-auto" min="0" 
                                id="napTimeHour" name="napTimeHour" placeholder="Hours" type="number"></td>
                    <td class="sleep-input-cell"><input autocomplete="off" class="form-control mx-auto" min="0" max="60" 
                                id="napTimeMin" name="napTimeMin" placeholder="Minutes" type="number"></td>
                </tr>

                <!-- What time did you go to bed input-->
                <tr>
                    <td align="left"><label for="sleepQuestionOne">What time did you get into bed?</label></td>
                    <td></td>
                    <td><input autocomplete="off" class="form-control mx-auto w-auto" id="bedTime" name="bedTime" type="time"></td>
                </tr>
                <!-- What time did you go try to fall asleep-->
                <tr>
                    <td align="left"><label for="sleepQuestionTwo">What time did you try to fall asleep?</label></td>
                    <td></td>
                    <td><input autocomplete="off" class="form-control mx-auto w-auto" id="sleepAttempt" name="sleepAttempt" 
                        type="time"></td>
                </tr>
                <!-- How long did it take you to fall asleep-->
                <tr>
                    <td align="left"><label for="sleepQuestionThree">How long did it take you to fall asleep?</label></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" 
                                id="timeToSleepHour" name="timeToSleepHour" placeholder="Hours" type="number"></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" max="60" 
                        id="timeToSleepMin" name="timeToSleepMin" placeholder="Minutes" type="number"></td>
                </tr>
                <!-- How many times did you wake up -->
                <tr>
                    <td align="left"><label for="sleepQuestionFour">How many times did you wake up?</label></td>
                    <td></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" id="timesWokenUp" 
                                name="timesWokenUp" placeholder="Number" type="number"></td>
                </tr>
                <!-- Hidden row, In total, how long did these awakenings last -->
                <tr id="awokenTimeHiddenRow" style="display: none;">
                    <td align="left"><label for="sleepQuestionTen">In total, how long did these awakenings last?</label></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" id="timeAwokenHour" 
                                name="timeAwokenHour" placeholder="Hours" type="number"></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" max="60" 
                                id="timeAwokenMin" name="timeAwokenMin" placeholder="Minutes" type="number"></td>
                </tr>
                <!-- What time was your final awakening? -->
                <tr>
                    <td align="left"><label for="sleepQuestionSix">What time was your final awakening in the morning?</label></td>
                    <td></td>
                    <td><input autocomplete="off" class="form-control mx-auto w-auto" id="finalAwakening" name="finalAwakening" 
                        type="time"></td>
                </tr>
                <!-- Wake up earlier than expected -->
                <tr>
                    <th></th>
                    <th>Yes</th>
                    <th>No</th>
                </tr>
                <tr data-row-number="2">
                    <td align="left"><label for="sleepQuestionEight">Did you wake up earlier than expected?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="earlier-yes" name="earlier-yes" 
                        value="1" data-associated-checkbox="earlier-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="earlier-no" name="earlier-no" 
                        value="0"></td>
                </tr>

                <!-- Hidden wake up early time input -->
                <tr id="wakeUpEarlyHiddenRow" style="display: none;">
                    <td align="left"><label for="sleepQuestionTen">How much earlier did you wake up?</label></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" id="wakeUpEarlyHour" 
                                name="wakeUpEarlyHour" placeholder="Hours" type="number"></td>
                    <td><input autocomplete="off" class="form-control mx-auto" min="0" max="60" 
                        id="wakeUpEarlyMin" name="wakeUpEarlyMin" placeholder="Minutes" type="number"></td>
                </tr>

                <!-- What time did you get out of bed? -->
                <tr>
                    <td align="left"><label for="sleepQuestionSix">What time did you get out of bed for the day?</label></td>
                    <td></td>
                    <td><input autocomplete="off" class="form-control mx-auto w-auto" id="outOfBed" name="outOfBed" type="time"></td>
                </tr>
                <!-- Quality of Sleep -->
                <tr data-row-number="1">
                    <td align="left"><label for="sleepQuestionNine">How would you rate the quality of your sleep?</label></td>
                    <td>
                        
                    </td>
                    <td class="yes-no-td">
                        <!-- Workout types drop down -->
                        <select class="form-select mx-auto" style="width: 150px;" name="rateSleep" id="rateSleep">
                            <option disabled selected value="defaultSleepRating">Rate sleep</option>
                            <option value="very-poor">Very poor</option>
                            <option value="poor">Poor</option>
                            <option value="fair">Fair</option>
                            <option value="good">Good</option>
                            <option value="very-good">Very good</option>
                        </select>
                    </td>
                <!-- Travelling Y/N -->
                <tr>
                    <th></th>
                    <th>Yes</th>
                    <th>No</th>
                </tr>
                <tr data-row-number="3">
                    <td align="left"><label for="drink">Were you travelling or on a trip this day?</label></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="travel-yes" name="travel-yes" 
                        value="1" data-associated-checkbox="travel-no"></td>
                    <td class="yes-no-td"><input type="checkbox" class="YesNo" id="travel-no" name="travel-no" 
                        value="0"></td>
                </tr>
            </table>
        </div>

        <!-- Submit Button -->
        <div>
            <button class="btn btn-primary" type="submit" name="submit" id="submit">Submit</button>
        </div>
    </form>

    <!-- description text box -->
    <div class="text-box-description">
        <h3 id="instructions-header-desktop">Sleep Logging</h3>
            <div class="instructions-paragraph">
                <p><b>What is Sleep Logging?</b></p>
                <p>Sleep logging is designed to gather information about your daily sleep pattern.</p>
                <p><b>How often and when do I fill out the sleep log?</b></p>
                <p>It is necessary for you to complete your sleep log every day. Remember,
                    you will generally be answering questions about your sleep habits during the previous day and night.
                    If possible, the sleep diary should be completed within two hours of getting out of bed in the morning.</p>
                <p><b>What should I do if I miss a day?</b></p>
                <p>If you remember your sleep habits for that day, you can still create a new entry;
                    just tap the date at the top to change it. Otherwise leave that day blank.</p>
                <p><b>What if something unusual affects my sleep or how I feel in the daytime?</b></p>
                <p>If your sleep or daytime functioning is affected by some unusual event 
                    (such as an illness, or an emergency) you may make brief notes on your log.</p>
                <p><b>What do the words “bed” and “day” mean on the form?</b></p>
                <p>This log can be used for people who are awake or asleep at unusual times. 
                    In the sleep diary, the word “day” is the time when you choose or are required to be awake. 
                    The term “bed” means the place where you usually sleep.
                <p><b>Will answering these questions about my sleep keep me awake?</b></p></p>
                <p> This is not usually a problem. You should not worry about giving exact times, 
                    and you should not watch the clock. Just give your best estimate.</p>
            </div>
    </div>
</div>
{% endblock %}